  server:
    port: 8080
    session:
      timeout: 30
    tomcat:
      max-threads: 0
      uri-encoding: UTF-8
    context-path: /
  spring:
    mvc:
      view:
        prefix: /WEB-INF/jsp/
        suffix: .jsp
    http:
      multipart:
        max-request-size: 1024Mb
        max-file-size: 2048Mb
    datasource:
      url: jdbc:mysql://127.0.0.1:3306/znjj?characterEncoding=utf-8
      username: root
      password: 123456_aA
      driver-class-name: com.mysql.jdbc.Driver
      #最大活跃数
      maxActive: 20
      #初始化数量
      initialSize: 1
      #最大连接等待超时时间
      maxWait: 60000
      #打开PSCache，并且指定每个连接PSCache的大小
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20
      #通过connectionProperties属性来打开mergeSql功能；慢SQL记录
      #connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
      minIdle: 1
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: select 1 from dual
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      #配置监控统计拦截的filters，去掉后监控界面sql将无法统计,'wall'用于防火墙
      filters: stat, wall, log4j
    redis:
      database: 0
      host: 127.0.0.1
      port: 6379
      timeout: 0
      pool:
        max-active: 8
        max-idle: 10
        min-idle: 2
        max-wait: -1
      password:
    application:
      name: spring-boot-config
  mybatis:
    mapper-locations: classpath*:mappers/**/*.xml
    type-aliases-package: com.zack.znjj


